<main>
    <section *ngIf="!showList" class="diarySpend" (click)="goToList(diarySpend.id)">
      <h1>Hoy</h1>
      <h1>$ {{diarySpend.ammount}}</h1>
    </section>
  
    <section class="week" *ngIf="!showList">
      <div class="slider">
        <div *ngFor="let day of daysOfWeek">
          <span class="date">{{ day.dateFormatted }}</span>
          <span class="day">{{ day.dayOfWeek }}</span>
          <span class="amount">$ {{ day.amount }}</span>
        </div>
      </div>
    </section>
    
  
  
    <section class="btn-section" *ngIf="!showList">
      
      <img id="myBtn" src="../assets/Vector_Plus.svg" alt="" (click)="showModal()">
      
    </section>
  
    
    <div id="myModal" class="modal">
      <div class="modal-content">
        <!-- <form action="onSubmit()"> -->
          <div class="container-amount">
            <input type="string" name="amount" id="amount" placeholder="Monto" [(ngModel)]="ammount">
          </div>
          <div class="container-description">
            <input type="text" placeholder="Descripción" [(ngModel)]="description">
          </div>
          <div class="container-btns">
            <button class="btn-save" (click)="saveSpending(ammount, description)">Guardar</button>
            <button class="btn-cancel" (click)="hideModal()">Cancelar</button>
          </div>
        <!-- </form> -->
      </div>
    </div>
  
    <section *ngIf="showList">
      <h1 class="list-principal-h1-1">Hoy</h1>
      <h1 class="list-principal-h1-2">$ {{diarySpend.ammount}}</h1>
      <h3 class="list-second">Detalle</h3>
      <div class="list-container-spend" *ngFor="let diarySpend of listDiarySpend">
        <span class="list-span-item">{{diarySpend.ammount}}</span>
        <span class="list-span-item">{{diarySpend.description}}</span>
        <button (click)="comeBack()" class="btn-comeback-from-list">Eliminar</button>
      </div>
  
      <div class="list-container-comeBack">

        <button (click)="comeBack()" class="btn-comeback">Volver</button>
      </div>
    </section>
  </main>