<main>
    <section class="diarySpend" (click)="goToList(diarySpend.id)">
      <h1>Hoy</h1>
      <h1>$ {{diarySpend.ammount}}</h1>
    </section>
  
    <section class="week" *ngIf="!showList">
      <div class="slider">
        <div *ngFor="let day of daysOfWeek">
          <span class="date">{{ day.dateFormatted }}</span>
          <span class="day">{{ day.dayOfWeek }}</span>
          <span class="amount">$ {{ day.amount }}</span>
        </div>
      </div>
    </section>
    
  
  
    <section class="btn-section" *ngIf="!showList">
      
      <img id="myBtn" src="../assets/Vector_Plus.svg" alt="" (click)="showModal()">
      
    </section>
  
    
    <div id="myModal" class="modal">
      <div class="modal-content">
        <!-- <form action="onSubmit()"> -->
          <div class="container-amount">
            <input type="string" name="amount" id="amount" placeholder="Monto" [(ngModel)]="ammount">
          </div>
          <div class="container-description">
            <input type="text" placeholder="Descripción" [(ngModel)]="description">
          </div>
          <div class="container-btns">
            <button class="btn-save" (click)="saveSpending(ammount, description)">Guardar</button>
            <button class="btn-cancel" (click)="hideModal()">Cancelar</button>
          </div>
        <!-- </form> -->
      </div>
    </div>
  
    <section *ngIf="showList">
      <h3>Detalle</h3>
      <ul>
        <li>
          <span>$ 3790</span>
          <span>Gastos cole</span>
          <span>i</span>
        </li>
      </ul>
  
      <button (click)="comeBack()" class="btn-comeback">Volver</button>
    </section>
  </main>