<main>
  <section class="diarySpend" (click)="goToList(diarySpend.id)">
    <h1>Hoy</h1>
    <h1>$ {{diarySpend.ammount}}</h1>
  </section>

  <section class="week">
    <div class="slider">
      <div>
        <span class="date">21-06-2022</span>
        <span class="day">Lunes</span>
        <span class="amount">$ 4.890</span>
      </div>
      <div>
        <span class="date">21-06-2022</span>
        <span class="day">Martes</span>
        <span class="amount">$ 4.890</span>
      </div>
      <div>
        <span class="date">21-06-2022</span>
        <span class="day">Muercoles</span>
        <span class="amount">$ 4.890</span>
      </div>
      <div>
        <span class="date">21-06-2022</span>
        <span class="day">Jueves</span>
        <span class="amount">$ 4.890</span>
      </div>
      <div>
        <span class="date">21-06-2022</span>
        <span class="day">Viernes</span>
        <span class="amount">$ 4.890</span>
      </div>
      <div>
        <span class="date">21-06-2022</span>
        <span class="day">Sabado</span>
        <span class="amount">$ 4.890</span>
      </div>
      <div>
        <span class="date">21-06-2022</span>
        <span class="day">Domingo</span>
        <span class="amount">$ 4.890</span>
      </div>
    </div>
  </section>


  <section class="btn-section">
    
    <img id="myBtn" src="../assets/plus-svgrepo-com.svg" alt="" (click)="showModal()">
    
  </section>

  
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="container-amount">
        <input type="number" name="amount" id="amount" placeholder="Monto">
      </div>
      <div class="container-description">
        <input type="text" placeholder="Descripción">
      </div>
      <div class="container-btns">
        <button class="btn-save">Guardar</button>
        <button class="btn-cancel">Cancelar</button>
      </div>
    </div>
  </div>

  <section>
    <h3>Detalle</h3>
    <ul>
      <li>
        <span>$ 3790</span>
        <span>Gastos cole</span>
        <span>i</span>
      </li>
    </ul>
  </section>
</main>