/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

/* You can add global styles to this file, and also import other style files */
.app-container {
  min-height: 320px;
  overflow: hidden;
  background: linear-gradient(#9DDCC6,#377777);
  height: 100vh;
}

.btn-delete-user {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}